<div class="split-screen-container">

    <!-- Left Panel: Branding & Info -->
    <div class="left-panel">
        <div class="collage-wrapper">
            <img src="assets/images/image-ayo-1.jpeg" alt="AYO collage 1" class="collage-image collage-image-1">
            <img src="assets/images/image-ayo-2.jpeg" alt="AYO collage 2" class="collage-image collage-image-2">
            <img src="assets/images/image-ayo-3.jpeg" alt="AYO collage 3" class="collage-image collage-image-3">
            <img src="assets/images/image-ayo-4.jpeg" alt="AYO collage 4" class="collage-image collage-image-4">
            <img src="assets/images/image-ayo-4.jpeg" alt="AYO collage 5" class="collage-image collage-image-5">
        </div>
        <div class="content-wrapper">
            <div class="logo-container">
                <img src="assets/icons/ayo.png" alt="Logo AYO" class="main-logo">
            </div>
            <div class="greeting">
                <span class="hand-wave">👋</span>
                <span>¡BIENVENIDO!</span>
                <span class="hand-wave">👋</span>
            </div>

            <p class="description">
                Tu futuro comienza aquí.
            </p>
        </div>

        <div class="footer-text">
            © 2026 Thinking Mind | Todos los derechos reservados.
        </div>
    </div>

    <!-- Right Panel: Form Card -->
    <div class="right-panel">
        <div class="login-card">

            @if (showForgotPassword) {
                <app-forgot-password-ayo (close)="toggleForgotPassword()"></app-forgot-password-ayo>
            } @else if (isLoginMode) {
            <!-- LOGIN VIEW -->
            <h3 class="card-title">Ingreso</h3>
            <p class="card-subtitle">Inicia sesión para continuar</p>

            <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">

                <div class="form-group">
                    <label for="loginEmail">Correo Electrónico</label>
                    <input type="email" id="loginEmail" formControlName="email" class="custom-input"
                        placeholder="nombre@correo.com">
                    @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
                    <div class="error-text">Correo inválido o requerido</div>
                    }
                </div>

                <div class="form-group">
                    <label for="loginPassword">Contraseña</label>
                    <input type="password" id="loginPassword" formControlName="password" class="custom-input"
                        placeholder="********">
                    @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
                    <div class="error-text">Contraseña requerida</div>
                    }
                </div>

                <button type="submit" [disabled]="isLoading" class="btn-primary">
                    @if (!isLoading) {
                    <span>Ingresar</span>
                    }
                    @if (isLoading) {
                    <div class="spinner"></div>
                    }
                </button>

                <div class="flex flex-col gap-10  my-5 toggle-container">
                  <div>
                    <p class="font-bold mt-2">¿Olvidaste la Contraseña o el usuario?
                      <a (click)="toggleForgotPassword()" href="javascript:void(0)"
                         class="text-blue-700 underline cursor-pointer hover:text-blue-800">Recupérala aquí</a>
                    </p>
                  </div>
                  <div>
                    <p class="font-bold">¿Desea registrarse al Programa AYO?
                      <a (click)="toggleMode()" href="javascript:void(0)"
                         class="text-blue-700 underline cursor-pointer hover:text-blue-800">Regístrate aquí</a>
                    </p>
                  </div>
                </div>
            </form>
            } @else {
            <!-- REGISTER VIEW (Existing) -->
            <h3 class="card-title">Registro</h3>
            <p class="card-subtitle">Valida tu ingreso para continuar</p>

            <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">

                <div class="form-group">
                    <label for="tipoDocumento">Tipo de Documento</label>
                    <select id="tipoDocumento" formControlName="tipoDocumento" class="custom-input">
                        <option value="" disabled selected>Selecciona una opción</option>
                        <option value="TI">Tarjeta de Identidad</option>
                        <option value="CC">Cédula de Ciudadanía</option>
                        <option value="CE">Cédula de Extranjería</option>
                        <option value="PAS">Pasaporte</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="numeroDocumento">Número de Documento</label>
                    <input type="text" id="numeroDocumento" formControlName="numeroDocumento" class="custom-input"
                        placeholder="Ej: 1000123456">
                </div>

                <div class="form-group">
                    <label for="email">Correo Electrónico</label>
                    <input type="email" id="email" formControlName="email" class="custom-input"
                        placeholder="nombre@correo.com">
                </div>



                <div class="form-group">
                    <label for="registerPassword">Contraseña</label>
                    <div class="relative">
                        <input [type]="showRegisterPassword ? 'text' : 'password'" id="registerPassword"
                            formControlName="password" class="custom-input" style="padding-right: 2.5rem;"
                            placeholder="********">
                        <button type="button" (click)="showRegisterPassword = !showRegisterPassword"
                            class="absolute inset-y-0 right-0 flex items-center px-3 text-gray-500 hover:text-gray-700 focus:outline-none"
                            style="top: 50%; transform: translateY(-50%); right: 10px; position: absolute; background: none; border: none; cursor: pointer;">
                            @if (showRegisterPassword) {
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" style="width: 1.25rem; height: 1.25rem;">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" />
                            </svg>
                            } @else {
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" style="width: 1.25rem; height: 1.25rem;">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                            }
                        </button>
                    </div>
                    @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
                    <div class="error-text">Contraseña requerida (mín. 6 caracteres)</div>
                    }
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirmar Contraseña</label>
                    <div class="relative">
                        <input [type]="showRegisterConfirmPassword ? 'text' : 'password'" id="confirmPassword"
                            formControlName="confirmPassword" class="custom-input" style="padding-right: 2.5rem;"
                            placeholder="********">
                        <button type="button" (click)="showRegisterConfirmPassword = !showRegisterConfirmPassword"
                            class="absolute inset-y-0 right-0 flex items-center px-3 text-gray-500 hover:text-gray-700 focus:outline-none"
                            style="top: 50%; transform: translateY(-50%); right: 10px; position: absolute; background: none; border: none; cursor: pointer;">
                            @if (showRegisterConfirmPassword) {
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" style="width: 1.25rem; height: 1.25rem;">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" />
                            </svg>
                            } @else {
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" style="width: 1.25rem; height: 1.25rem;">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            </svg>
                            }
                        </button>
                    </div>
                    @if (registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched) {
                    <div class="error-text">Las contraseñas no coinciden</div>
                    }
                </div>

              <div class="form-group">
                <label for="codigoAcceso">Código de Acceso</label>
                <div class="input-with-icon">
                  <input type="text" id="codigoAcceso" formControlName="codigoAcceso"
                         class="custom-input" placeholder="Código">
                </div>
              </div>

                <button type="submit" [disabled]="isLoading" class="btn-primary">
                    @if (!isLoading) {
                    <span>Registrarse</span>
                    }
                    @if (isLoading) {
                    <div class="spinner"></div>
                    }
                </button>

                <div class="my-5 toggle-container">
                    <p class="font-bold">¿Ya tienes cuenta y deseas ingresar?
                        <a (click)="toggleMode()" href="javascript:void(0)"
                            class="text-blue-700 underline cursor-pointer hover:text-blue-800">Ingresa aquí</a>
                    </p>
                </div>
            </form>
            }

        </div>
    </div>

    <!-- Notification Modal -->
    <app-notification-modal [isVisible]="showNotification" [notification]="notificationData"
        (close)="onNotificationClose()">
    </app-notification-modal>
</div>
